* text=auto eol=lf

*.sh text eol=lf
Dockerfile text eol=lf
*.py text eol=lf
*.pl text eol=lf
*.rb text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.md text eol=lf
